<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for </title>
    <script type="text/javascript" src="../../assets/js/vue.js"></script>
</head>

<body>
    <h1>v-for</h1>
    <hr>
    <div id="app">
        <ul>
            <li v-for="item in sortItems">
                {{item}}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(student,index) in sortStudents">
                {{index+1}} : {{student.name}} -- {{student.age}}
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: [12, 89, 34, 6, 56, 45, 78, 23, 90],
                students: [{
                    name: 'LJY',
                    age: '23'
                }, {
                    name: 'DayangLee',
                    age: '24'
                }, {
                    name: 'JunyangLi',
                    age: '18'
                }, {
                    name: 'Ray Lee',
                    age: '26'
                }, ]
            },
            computed: {
                sortItems: function() {
                    return this.items.sort(sortNumber);
                },
                sortStudents: function() {
                    return sortByKey(this.students, 'age');
                }
            }
        });

        function sortNumber(a, b) {
            return a - b;
        }

        //数组对象方法排序:
        function sortByKey(array, key) {
            return array.sort(function(a, b) {
                var x = a[key];
                var y = b[key];
                return ((x < y) ? -1 : ((x > y) ? 1 : 0));
            });
        }
    </script>
</body>

</html>