<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-model 实例</title>
  <script type="text/javascript" src="../../assets/js/vue.js"></script>
</head>

<body>
  <h1>v-model 实例</h1>
  <hr>
  <div id="app">
    <p>原始文本信息：{{message}}</p>
    <h3>文本框</h3>
    <p>v-model: <input type="text" v-model="message"></p>
    <p>v-model.lazy: <input type="text" v-model.lazy="message"></p>
    <p>v-model.number: <input type="text" v-model.number="message"></p>
    <p>v-model.trim: <input type="text" v-model.trim="message"></p>
    <hr>
    <h3>文本域</h3>
    <textarea cols="30" rows="5" v-model="message"></textarea>
    <hr>
    <h3>多选框绑定一个值</h3>
    <input type="checkbox" id="isTrue" v-model="isTrue">
    <label for="isTrue">{{isTrue}}</label>
    <hr>
    <h3>多选框绑定一个数组</h3>
    <p>
      <input type="checkbox" id="dayang" value="dayang" v-model="web_names">
      <label for="dayang">dayang</label>
      <input type="checkbox" id="junyang" value="junyang" v-model="web_names">
      <label for="junyang">junyang</label>
      <input type="checkbox" id="JY" value="JY" v-model="web_names">
      <label for="JY">JY</label>
    </p>
    <p>{{web_names}}</p>
    <hr>
    <h3>单选框绑定一个值</h3>
    <p>
      <input type="radio" id="genderOne" value="male" v-model="gender">
      <label for="genderOne">male</label>
      <input type="radio" id="genderTwo" value="female" v-model="gender">
      <label for="genderTwo">female</label>
      <p>你选择的性别是： {{gender}}</p>
    </p>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        message: 'hello world!',
        isTrue: true,
        web_names: ["JY"],
        gender: 'male'
      }
    })
  </script>
</body>

</html>